<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="Content-Security-Policy"
         content="connect-src * 'unsafe-inline';">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Slak-app</title>
      <link rel="stylesheet" href="css/wsclient.css">
      <link rel="stylesheet" href="css/button-w3.css">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="vendor/other/sticky-footer-navbar.css">
   </head>
   <body>
      <nav id="navbar"
         class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      </nav>
    
      <div id="dprogt" style="position: absolute; top: 65px; left: 25px">
         <a href="eval/account.html">account</a><br /> 
         <a href="eval/login.html">login</a><br /> 
      </div>
      <footer id="footer" class="footer">
         <div class="container">
            <span id="footr" class="text-muted">Slak by Magali </span>
         </div>
      </footer>
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/common.js"></script>
      <script src="js/home.js"></script>
   </body>
</html>